{% extends "base.html.twig" %}

{% block title %} {{ categorie.name }}  {% endblock %}

{% block body %}
    <h1>{{ categorie.name }}</h1>
    <h3>description : {{ categorie.description }}</h3>
    <br/>

    <h2>Modifier</h2>
    {{form(form2)}}

{% endblock %}